.humburger-menu {
  display: none;
  font-family: $fontFamily;
  width: $stretchContainer;
  min-height: 70px;
  border-bottom: $borderBottom;
  box-sizing: border-box;
}

@media screen and (max-width: $tablet) {
  .humburger-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
