.content__image {
  width: 100%;
  height: 540px;
  display: block;
  box-sizing: border-box;
  border-right: $borderRight;
}

@media screen and (max-width: 1439px) {
  .content__image {
    height: 510px;
    width: 100%;
    border-right: none;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .content__image {
    height: 204px;
    width: 100%;
  }
}
