.content__style-wrapper {
  width: 50%;
  overflow: hidden;
}

@media screen and (max-width: $tablet) {
  .content__style-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: $mobile) {
  .content__style-wrapper {
    min-width: 280px;
  }
}
