.content__button-left {
  @include reset-button;
  width: 42px;
  height: 34px;
  background-image: url("../../../../../images/leftGalleryBtn.svg");
  background-color: $secondaryColor;
  margin-right: 30px;
  transition: opacity 1s ease;
  background-size: cover;
}

.content__button-left:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .content__button-left {
    width: 24px;
    height: 20px;
    margin-right: 16px;
  }
}
