.header__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: $primaryColor;
  text-transform: uppercase;
  transition: opacity 1s ease;
}

.header__link:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: $mobile) {
  .header__link {
    font-size: 11px;
  }
}
