.content__gallery-title {
  @include reset-text;
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
  color: $primaryColor;
}

@media screen and (max-width: 767px) {
  .content__gallery-title {
    font-size: 26px;
    line-height: 26px;
  }
}
