.content__item {
  color: $primaryColor;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
}

@media screen and (max-width: $mobile) {
  .content__item {
    font-size: 16px;
    line-height: 20px;
  }
}
