$primaryColor: #e1fd2c;
$secondaryColor: #191d2c;
$fontFamily: Sourse Sans Pro, sans-serif;
$stretchContainer: 100%;
$borderBottom: 1px solid #e1fd2c;
$borderRight: 1px solid #e1fd2c;
$border: 1px solid #e1fd2c; ;
