.content__button-right {
  @include reset-button;
  width: 42px;
  height: 34px;
  background-image: url(/images/rightGalleryBtn.svg);
  background-color: $secondaryColor;
  transition: opacity 1s ease;
  background-size: cover;
}

.content__button-right:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .content__button-right {
    width: 24px;
    height: 20px;
  }
}
