@import "../vendor/normalize.css";
@import "../vendor/fonts/fonts.css";
@import "./modules/variables.scss";
@import "./modules/mixins.scss";
//подключаем здесь функции, миксины, а затем уже блоки самого проекта

@import "./modules/blocks/page/page.scss";
@import "./modules/blocks/title/title.scss";
@import "./modules/blocks/header/header.scss";
@import "./modules/blocks/header/_opened/header_opened.scss";
@import "./modules/blocks/logo/logo.scss";
@import "./modules/blocks/logo/_opened/logo_opened.scss";
@import "./modules/blocks/logo/_place/logo_place_footer.scss";
@import "./modules/blocks/logo/_place/logo_place_header.scss";
@import "./modules/blocks/header/__list/header__list.scss";
@import "./modules/blocks/header/__list/_opened/header__list_opened.scss";
@import "./modules/blocks/header/__item/header__item.scss";
@import "./modules/blocks/header/__link/header__link.scss";
@import "./modules/blocks/preview/preview.scss";
@import "./modules/blocks/preview/__container/preview__container.scss";
@import "./modules/blocks/preview/__subtitle/preview__subtitle.scss";
@import "./modules/blocks/preview/__title/preview__title.scss";
@import "./modules/blocks/preview/__image/preview__image.scss";
@import "./modules/blocks/preview/__button/preview__button.scss";
@import "./modules/blocks/content/content.scss";
@import "./modules/blocks/content/__desc/content__desc.scss";
@import "./modules/blocks/content/__wrapper/content__wrapper.scss";
@import "./modules/blocks/content/__columns-wrapper/content__columns-wrapper.scss";
@import "./modules/blocks/content/__pluses-column/content__pluses-column.scss";
@import "./modules/blocks/content/__minuses-column/content__minuses-column.scss";
@import "./modules/blocks/content/__title/content__title.scss";
@import "./modules/blocks/content/__list/content__list.scss";
@import "./modules/blocks/content/__item/content__item.scss";
@import "./modules/blocks/content/__image/content__image.scss";
@import "./modules/blocks/content/__style-wrapper/content__style-wrapper.scss";
@import "./modules/blocks/content/__gallery-wrapper/content__gallery-wrapper.scss";
@import "./modules/blocks/content/__gallery/content__gallery.scss";
@import "./modules/blocks/content/__gallery-container/content__gallery-container.scss";
@import "./modules/blocks/content/__gallery-image-wrapper/content__gallery-image-wrapper.scss";
@import "./modules/blocks/content/__button-back/content__button-back.scss";
@import "./modules/blocks/content/__button-forward/content__button-forward.scss";
@import "./modules/blocks/content/__button-wrapper/content__button-wrapper.scss";
@import "./modules/blocks/info/info.scss";
@import "./modules/blocks/info/__button-anchor/info__button-anchor.scss";
@import "./modules/blocks/info/__excerpt/info__excerpt.scss";
@import "./modules/blocks/info/__first-column/info__first-column.scss";
@import "./modules/blocks/info/__second-column/info__second-column.scss";
@import "./modules/blocks/info/__button/info__button.scss";
@import "./modules/blocks/info/__button/_active/info__button_active.scss";
@import "./modules/blocks/info/__button-wrapper/info__button-wrapper.scss";
@import "./modules/blocks/footer/footer.scss";
@import "./modules/blocks/footer/__form-column/footer__form-column.scss";
@import "./modules/blocks/footer/__text/footer__text.scss";
@import "./modules/blocks/footer/__copyright/footer__copyright.scss";
@import "./modules/blocks/footer/__copyright-column/footer__copyright-column.scss";
@import "./modules/blocks/footer/__form/footer__form.scss";
@import "./modules/blocks/footer/__form-input-name/footer__form-input-name.scss";
@import "./modules/blocks/footer/__form-wrapper/footer__form-wrapper.scss";
@import "./modules/blocks/footer/__form-input-email/footer__form-input-email.scss";
@import "./modules/blocks/footer/__form-button/footer__form-button.scss";
@import "./modules/blocks/header/__button-closed/header__button-closed.scss";
@import "./modules/blocks/header/__button-closed/_opened/header__button-closed_opened.scss";
@import "./modules/blocks/header/__button/header__button.scss";
@import "./modules/blocks/header/__button/_opened/header__button_opened.scss";
@import "./modules/blocks/humburger-menu/__wrapper/humburger-menu__wrapper.scss";
